.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
button {
    background-color: #DD4B39;
    padding: 20px;
    border: 1px solid #DD4B39
}
