button {
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    transition: all ease .5s
}
button:hover {
    background-color: #fff;
    color: #dd4b39;
    cursor: pointer;
}
